::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body {
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #888;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    background-color: #245F7F;
}

a {
    color: #FFFFFF;
    background-color: transparent;
    font-weight: normal;
    outline: 0;
}

.title {
    padding: 0 20px;
    background: #292929;
    position: relative;
    height: 50px;
}

.img-circle {
    border-radius: 50%;
    vertical-align: middle;    
}

h1 {
    color: #fff;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    text-transform: capitalize;
}

code {
    visibility: hidden;
}

#content {
    padding: 20px;
    zoom: 1;
    background: #353535;
}

#body{
    margin: 0 15px 0 15px;
}

p.footer{
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin: 20px 0 0 0;
}

#container{
    margin: 10px;
    border: 1px solid #292929;
    -webkit-box-shadow: 0 0 8px #292929;
    box-shadow: 0 0 8px #292929;
}

/* Form Styles */
label{
    display: block;
}

input {
    border: 1px solid #292929;
    background: #494949;
    color: #999999;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    outline: 0;
    box-sizing: border-box;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

input[type=submit], button {
    background: #555555;
    color: #fff;
    display: inline-block;
    padding: 0 20px;
    font-size: 16px;
    line-height: 2.6em;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 400;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-transform: capitalize;
    border: 0;
    cursor: pointer;
    text-align: center;
}

input[type=submit]:hover, button:hover {
    background: #198ad1;
}

input:invalid {
    background: #604040;
}

input:valid:focus {
    border: 1px solid #292929;
}

input[type=button], input[type=submit], button {
    border: none !important;
}

button:disabled {
    color: #696969;
    background: #393939;
    cursor: default;
}

#createAccount {
    float: left;
}

#logout {
    float: right;
}

#logout > a {
    color: white;
}

#currentuser {   
    padding-right: 50px;
}

div#viewer {
    width: 100%;
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version */
}

div#preCachedImages {
    display: none;
}

div#viewerContainer {
    display: inline-block;
    position: relative;
    background: #000000;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

div#viewerContainer.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

div#stl {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

div#topViewer {
    min-width: 500px;
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #191919;
}

div#topViewer > * {
    vertical-align: middle;
}

div#middleViewer {
    position: relative; 
    display: inline-block;
    margin: 15px;
}

div#viewerInstructions {
    font-size: smaller;
    display: inline-block;
    width: 300px;
    vertical-align: top;
    
}

div#viewerInstructions table {
    text-align: left;
}

div#viewerInstructions ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
}

div#sessionContainer {
    vertical-align: top;
    min-width: 300px;
    max-width: 300px;
    display: inline-block;
    padding-left: 10px;
}

div#sessions {
    margin-bottom: 5px;
    overflow-y: auto;
    max-height: 400px;
    height: 400px;
}

button#addSession {
    float: right;
}

div#sessions > div {
    padding: 5px;
}

div#sessions > div.selected {
    background: #191919;
}

div#sessions > div:hover {
    color: white;
    background: #191919;
    cursor: pointer;
}

div#bottomViewer {
    min-width: 500px;
    height: 44px;
    padding: 15px;
    border-top: 1px solid #191919;
    position:relative;
}

div#sliderContainer {
    position: absolute;
    bottom: 15px;
    left: 100px;
    right: 100px;
}

input#slider {
    width: 100%;
    border: none;
    background: black;
    margin: 0;
    padding: 0;
}

.fullscreen div#topViewer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.fullscreen div#middleViewer {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 90px;
}

.fullscreen div#viewerInstructions {
    position: absolute;
    left: 0;
}

.fullscreen div#sessionContainer {
    position: absolute;
    top: 0;
    bottom: 25px;
    right: 0;
}

.fullscreen div#sessions {
    margin-bottom: 5px;
    overflow-y: auto;
    height: 100%;
    max-height: 100%;
}

.fullscreen div#bottomViewer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

div#fullscreen {
    float: right;
}

canvas#canvas {
    position: absolute;
    top: 1px;
    margin-left: 1px;
}

img#slice {
    border: 1px solid #191919;
}

.fullscreen canvas#canvas {
    top: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.fullscreen img#slice {
    height: 100%;
}

#previous {
    float: left;
}

#next {
    float: right;
}

.error {
    background-repeat: no-repeat !important;
    background-position: 5px center !important;
    margin: 10px 0;
    padding:10px 5px 10px 40px;
    position: relative;
    border: 1px solid #D50013;
    background-image:url('error.png');
    color: #D50013 !important;
    background-color: #FEB8B8 !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.error a, .error a:visited, .inlineError a, .inlineError a:visited {
    color: #D50013 !important;
    font-weight: bold;
}

/* DataTable customizations */

button#addToStudyButton {
    background: #555555;
    color: #fff;
    display: inline-block;
    padding: 0 ;
    font-size: 40px;
    line-height: 0.1em;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 800;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-transform: capitalize;
    border: 0;
    cursor: pointer;
    text-align: center;
    float:inherit;
}

button#addToStudyButton:hover {
    background: #198ad1;
}

button#addToStudyButton.delete:hover {
  color: #272727;
  right: 60px;
}
button#addToStudyButton:hover:before {
  content: ' Add Photos';
  float: right;
  color: #F7F4F4;
  font-size: 12px;
  right: 0px;
  line-height: normal; 
  vertical-align: middle;
  text-align: center;
}
button#addToStudyButton.delete:hover:before {
  content: ' Add Photos';
  float: right;
  color: #F7F4F4;
  font-size: 12px;
  right: 22px;
  line-height: normal; 
  vertical-align: middle;
  text-align: center;
}

button.deleteStudy {
    background: #555555;
    color: #fff;
    display: inline-block;
    padding: 0 ;
    font-size: 40px;
    line-height: 0 ;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 800;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-transform: capitalize;
    border: 0;
    cursor: pointer;
    text-align: center;
    float: right; !important
}

button.deleteStudy:hover {
    background: #198ad1;
}

button.deleteStudy.delete:hover {
  color: #272727;
  right: 60px;
}
button.deleteStudy:hover:before {
  content: 'Erase Study';
  float: right;
  color: #E81C15;
  font-size: 12px;
  right: 0px;
  line-height: normal; 
  vertical-align: middle;
  text-align: center;
}
button.deleteStudy.delete:hover:before {
  content: 'Erase Study';
  float: right;
  color: #E81C15;
  font-size: 12px;
  right: 22px;
  line-height: normal; 
  vertical-align: middle;
  text-align: center;
}



table.dataTable.no-footer {
    border-bottom: none;
}

table.dataTable th.sorting {
    cursor: pointer;
}

table.dataTable tr.odd {
    background: #292929 !important;
}

table.dataTable tr.even {
    background: #232323 !important;
}

table.dataTable tr.odd td.sorting_1 {
    background: #262626 !important;
}

table.dataTable tr.even td.sorting_1 {
    background: #202020 !important;
}

table.dataTable td {
    border-top: 1px solid #232323 !important;
}

th.ui-state-default {
    border-color: #393939 !important;
}

tr.expanded div {
    width: 70%;
    background: #2020;
    margin-left: 10%;
    font-size: small;
    border-color: #5D727D !important;
}

tr.expanded table tr, tr.expanded table td, tr.expanded table th {
    background: transparent !important;
    border: 1px solid #7E8E96;
    padding: 4px 8px;
}

tr.expanded table{
    border: 2px solid #7E8E96;
}

button.eraseIcon {
    background: #555555;
    color: #fff;
    display: inline-block;
    padding: 0 ;
    line-height: 0 ;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    float: right; !important
}

button.eraseIcon:hover {
    background: #198ad1;
}

button.eraseIcon:hover:before {
  display: inline-block;
  color: #E81C15;
  padding: 0;
  line-height: normal;
  vertical-align: middle;
}
button.eraseIcon.delete:hover:before {
  display: inline-block;
  color: #E81C15;
  padding: 0;
  line-height: normal;
  vertical-align: middle;
}
