<!DOCTYPE html>
<html>
    <!-- skelton of top bar styling taken from : http://code.runnable.com/UhLMQLffO1YSAADK/handle-a-post-request-in-flask-for-python -->
    <head>
        <title>{{ title }}</title>
        {% include 'styles.html' %}
        {% include 'scripts.html' %}
        <script type="text/javascript"> var currentUser ={ 'Name': '{{ g.currentUser.name }}', 'Type': '{{g.currentUser.acctype}}', 'Id':'{{g.currentUser.userID}}' }</script>
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>{{ title }} 
                    {% if g.currentUser != None %}      
                        <div id="logout">
                            <span id="currentuser">
                                <img class="img-circle" src="{{ url_for('static', filename='userIcon.png') }}" style="width:30px;height:30px;" >
                                {{ g.currentUser.name }} ({{g.currentUser.acctype}})
                            </span> 
                            <a href="/logout">Logout</a>
                        </div>
                    {% endif %}                 
                </h1>
            </div>
            <div id="content">
                
                {% if error != "" and error != null %}
                    <div class="error">{{ error }}</div>
                {% endif %}
                {% block content %}
                {% endblock %}

                {% if g.currentUser == None %}
                    <div id="createAccount">
                        <a href="/newaccount">Create a New Account</a>
                    </div>
                    <br>
                {% endif %}
            </div>
        </div>
    </body>
</html>
