<!DOCTYPE html>
<html>
    <!-- skelton of top bar styling taken from : http://code.runnable.com/UhLMQLffO1YSAADK/handle-a-post-request-in-flask-for-python -->
    <head>
        <title>{{ title }}</title>
        {% include 'styles.html' %}
        {% include 'scripts.html' %}
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>{{ title }} 
                    {% if g.currentUser != None %}
                        <div id="logout">
                            <a href="/logout">Logout</a>
                        </div>
                    {% endif %}
                </h1>
            </div>
            <div id="content">
                {% if error != "" and error != null %}
                    <div class="error">{{ error }}</div>
                {% endif %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
