<script type="text/javascript" src="{{ url_for('static', filename='scripts/libs/jquery-3.1.1.min.js') }}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.jqueryui.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/libs/underscore-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/libs/backbone-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/libs/three.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/libs/three.trackball.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/canvasExtra.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/stl.js') }}"></script>

<!-- Backbone Models -->
<script type="text/javascript" src="{{ url_for('static', filename='scripts/Session.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/Image.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/Line.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/Point.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='scripts/viewer.js') }}"></script>
