{% extends 'base.html' %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/studyExpand.js') }}"></script>

<button onclick="location.href = '/';" id="homebutton" class="float-left submit-button" >my images</button>
{% if g.currentUser.acctype == 'Researcher' %}   
    <button onclick="location.href = '/studies/create/';" id="studybutton" class="float-left submit-button" >Create New Study</button>
{% endif %}
<br><br>
<table class="display" width="100%" cellspacing="0" id="studyTable">  
    <thead>  
        <tr>
            <th>Study Name</th>
            <th>Creator</th>
            <th width="100"># DICOMs</th>
            <th width="120">max # sessions</th>
            <th width="250">Date Created</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in result.iteritems() %}
        <tr id="{{key}}">
            <td > 
                {% if value['count'] > 0 %}
                <a class="LoadStudyDicoms" style="font-size:23px; color:#ffff; text-decoration:none;" href="/studies/{{ key }}">&#8853;</a>
                {% endif %}
                {{ key }} <button onclick="location.href = '/upload/?study={{key}}';" id="addToStudyButton" >+ Add Images</button></td>
            <td align="center"> {{ value['creator'] }} </td>
            <td align="center"> {{ value['count'] }} </td>
            <td align="center"> {{ value['num_sessions'] }} </td>
            <td align="center"> {{ value['created_on'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
