{% extends 'base.html' %}

{% block content %}


<button onclick="location.href = '/studies/create/';" id="studybutton" class="float-left submit-button" >Create New Study</button>
<button onclick="location.href = '/';" id="homebutton" class="float-left submit-button" >my images</button>
<br><br>
<table class="display" width="100%" cellspacing="0" id="studyTable">  
    <thead>  
        <tr>
            <th>Study Name</th>
            <th>Creator</th>
            <th>Sessions/Participant</th>
            <th>Date Created</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in result.iteritems() %}
        <tr>
            <td> {{ key }} </td>
            <td> {{ value['creator'] }} </td>
            <td align="right"> {{ value['num_sessions'] }} </td>
            <td> {{ value['created_on'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
 $("#studyTable").DataTable();
</script>

{% endblock %}
