{% extends 'base.html' %}
{% block content %}

    <div id="viewer">
        <div id="viewerContainer">
            <canvas id="canvas"></canvas>
            <img id="slice" /><br />
            <div id="viewerControls">
                <button id="previous">&lt;</button>
                <span id="currentImage"></span> / <span id="maxImage"></span>
                <button id="next">&gt;</button>
            </div>
        </div>
        <div id="preCachedImages">
            {% for i in range(1,355) %}
                <img src="{{ i }}" />
            {% endfor %}
        </div>
    </div>

{% endblock %}
