{% extends 'base.html' %}
{% block content %}

    <div id="viewer">
        <div id="viewerContainer">
            <div id="topViewer">
                Show Curved Lines: <input id="curved" type="checkbox" checked /> 
            </div>
            <div id="middleViewer">
                <canvas id="canvas"></canvas>
                <img id="slice" />
            </div>
            <div id="bottomViewer">
                <button id="previous">&lt;</button>
                <span id="currentImage"></span> / <span id="maxImage"></span>
                <button id="next">&gt;</button>
            </div>
        </div>
        <div id="preCachedImages">
            {% for i in range(first, first + size) %}
                <img src="/api/upload/{{ i }}" />
            {% endfor %}
        </div>
    </div>

{% endblock %}
