<html>
    <head>
        <title>Handle POST requests with Flask</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>POST request for dcm image</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('upload') }}">
                    <label for="filename"> Please enter your image name: </label>
                    <input type="text"  name="filename" /><br/>
                    <input type="file" name=filename>
                    <input type="submit" value="Upload" />
                </form>
            </div>
            
            <code><pre>
@app.route('/api/')
def index():
    return render_template('upload.html')
            </pre></code>
        </div>
        </div>
    </body>
</html>
