{% extends 'base.html' %}

{% block content %}


<button onclick="location.href = '/upload/';" id="uploadbutton" class="float-left submit-button" >Upload Images</button>
<br><br>
<table class="display" width="100%" cellspacing="0" id="imageTable">  
    <thead>  
        <tr>
            <th>Image Set Name</th>
            <th>Date Uploaded</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in result.iteritems() %}
        <tr>
            <td> <a href="/viewset/{{ value['id'] }}:{{ key }}">{{ key }}</a></td>
            <td> {{ value['timestamp'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
    $("#imageTable").DataTable();
</script>

{% endblock %}
