{% extends 'base.html' %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='scripts/study.js') }}"></script>
{% if g.currentUser.acctype != 'Tech' %}      
<button onclick="location.href = '/studies/';" id="viewStudies" class="float-left submit-button" >Studies</button>
<button disabled id="viewImbutton" class="float-left submit-button" style="background: #1075c0; color:white;">images</button>
{% endif %}

{% if g.currentUser.acctype != 'Participant' %}
<button onclick="location.href = '/upload/';" id="uploadbutton" class="submit-button" style="float:right;" >Upload Images</button>
{% endif %}

<br><br>
<table class="display" width="100%" cellspacing="0" id="imageTable">  
    <thead>  
        <tr>
            <th width="1%">Preview</th>
            <th width="40%">DICOM Name</th>
            <th width="30%">Study Name</th>
            <th width="8%"># in set</th>
            <th width="20%">Date Uploaded</th>           
        </tr>
    </thead>
    <tbody>
        {% for key, value in result.iteritems() %}
        <tr>
            <td align="center">
                {% if g.currentUser.acctype != 'Tech' %}  
                <a href="/viewset/{{ value['id'] }}:{{ key }}">
                {% endif %}
                
                <img style="max-width:150px; max-height: 150px;" src="/upload/{{ value['mid'] }}" /></a>
            </td>
            <td align="center"> 
                {% if g.currentUser.acctype != 'Tech' %}  
                <a href="/viewset/{{ value['id'] }}:{{ key }}">
                {% endif %}{{ key }}</a>             
            </td>
            <td align="center" > 
                {%if g.currentUser.acctype == 'Researcher' and not value['study'] %} 
                <button id="addToStButton" onclick="pickStudy({{studies}})"><img style="width:15px; height:15px; " src="{{ url_for('static', filename='Add.png') }}"></button>         
                {% endif %}
                {{ value['study'] }} 
                
            </td>
            <td align="center"> {{ value['count'] }} </td>
            <td align="center"> {{ value['timestamp'] }}</td>         
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if g.currentUser.acctype != 'Participant' %}
<div style="text-align:right; width:100%;">
    <br>
<button onclick="location.href = '/upload/';" id="uploadbutton" class="submit-button" >Upload Images</button>
</div>
<script type="text/javascript">
    $("#imageTable").DataTable({oSearch:{sSearch:"{{setname}}"}});
</script>
{% endif %}


{% endblock %}
